.fondo{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh76_0AjdC4ATZiuYp-zS1ya0atTF_eSua8Q&usqp=CAU");
    padding: 15%;
    background-position: top center;
    background-size: cover;
}
