.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotyllp.appspot.com/o/ACDC.jpg?alt=media&token=583f3211-9c5e-4d4f-8ce3-32e21b74ab58');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30%;
}
.icono{
    font-size: 80px;
}
.concierto{
    height: 450px;
    width: 850px;
}
.noticia{
    height: 400px;
    width: 850px;
}